<div class="dataTable_wrapper">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th style="display:none;"></th>
                <th>First Name</th>
                <th>Date</th>
                <th>Number</th>
                <th>State</th>
                <th>Payment State</th>
                <th>Shipment State</th>
                <th>Customer Email</th>
                <th>Total</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>

        <% @orders.each do |order| %>
            
            <tr class="odd gradeX">
            <td style="display: none;"></td>
                <td><%= order.first_name%></td>
                <td><%= order.created_at %></td>
                <td>
                    <%= link_to order.number,  admin_order_path(order), class: ""%>

                </td>
                <td><%= order.state rescue '' %></td>
                <td><%= order.payment_state%></td>
                <td><%= order.shipment_state%></td>
                <td><%=order.customer.email rescue ''%></td>
                 <td><%=store_unit%>
                 <%if current_user.superadmin?%>
                 <%=order.sub_total %>
                 <%else%>
                 <%= order.vendor_based_sum(current_user) %>
                 <%end%>
                     
                 </td>
                <td class="center">
                    <span><%#= link_to '', edit_admin_order_path(order),class: "edit fa fa-edit icon_link with-tip no-text", title: "edit" %> </span>
                    <span>
                        <%= link_to '',  admin_order_path(order),  method: :delete, data: { confirm: 'Are you sure?' } ,class: "fa fa-trash icon_link with-tip no-text"%>
                    </span>
                </td>
            </tr>

        <% end %>                                                                             
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->
<script>
    $(document).ready(function() {
        $('#dataTables-vendors').DataTable({
                responsive: true
        });
    });
</script>