<head>
  <title>DemoStore</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    '/assets/all_frontend.css' %>


  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/assets/frontend/modernizr-2.8.3.min.js' %>
  <%= csrf_meta_tags %>
</head>