 <!-- Add your site or application content here -->
        <!-- Header Area Start -->
        <div class="header-area">
			<!-- Header Top Start -->
        	<div class="header-top">
        		<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="header-default pull-left">
								<p style="position:relative; top:9px;"><%= t 'welcome.paragraph' %></p>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12">
							<div class="header-top-right pull-right">
								
								<div class="header-user-info pull-right">
										<span class="dropdown lang-drop">
		                                    
		                                       <i class="fa fa-globe"></i> 
		                                      
		                                    
		                                    
		                                </span>
								

									   
										<select title="Click to Change Language" class="lang-drop" onchange="changelanguage(this.value)">
												<option <%=@lang == "en"?  'selected' : ''%> value="en">English</option>
												<option <%=@lang == "ar" ? 'selected' : ''%> value="ar"> <%= t 'welcome.arabic' %> </option>
										</select>
									
									<% if current_customer %>
	                    				<a href="#" title="<%= t 'welcome.account' %>" dir="rtl">
	  									   <i class="fa fa-user"></i> 
	  									   <%= t 'welcome.myaccount' %>
	  									</a >
	  									<a href="/customers/sign_out" title="<%= t 'welcome.signout' %>" dir="rtl">
	  									   <i class="fa fa-unlock-alt"></i> 
	  									   <%= t 'welcome.signout' %>
	  									</a>
					                <%else%>
					                	<a href="#" title= "<%= t 'welcome.signin' %>" data-toggle="modal" data-target="#signinmodal" dir="rtl">
									   		<i class="fa fa-unlock-alt"></i> 
									   		<%= t 'welcome.signin' %>
										</a>
					                <%end%>
									<a href="/carts" title="<%= t 'welcome.checkout' %>"  dir="rtl">
									   <i class="fa fa-share-square-o"></i> 
									   <%= t 'welcome.checkout' %>
									</a>
								</div>
							</div>
						</div>
					</div>
        		</div>
        	</div>
			<!-- Header Top End -->
			<!-- Header Bottom Start -->
        	<div class="header-bottom">
        	    <div class="container">
        	        <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<!-- Header Logo -->
                           <div class="header-logo">
                                <a href="/" title="logo">
                                    <img class="img-responsive" src="/assets/logo.png" alt="">
                                </a>
                           </div>
                        </div>
						<!--Header Bottom Right Start-->
						<div class="col-lg-2 col-md-2  col-sm-6 col-xs-12 header-right-inner">
						    <div class="header-bottom-right">
						        <div class="header-bottom-right-inner">
						            <ul>
						                <li>
					                    <a class="cart-toggler search-icon" href="javascript:void(0)">
					                        <i class="fa fa-search"></i>
					                    </a>
                              <div class="header-bottom-search">
                                <%= form_tag('/vendors', method: :get,:id=>"search_form", :class=>"search-box") do %>
                                <div>
                                  <%= text_field_tag :search, nil, placeholder: "Search Product" %>
                                  <%= hidden_field_tag :latitude,{}, :value=>"", :id=>"latitude"  %>
                                  <%= hidden_field_tag :longitude,{}, :value=>"", :id=>"longitude"  %>
                                  <button class="btn btn-search" type="submit">
                                      <i class="fa fa-search"></i>
                                  </button>
                                </div>
                                <% end %>
                              </div>
						                </li>
						                <li class="cart_menu">
                                            <a class="cart-toggler mini-cart-icon" href="javascript:void(0)">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span><div id="cart_products_count">

                                                    <%=@current_order.line_items.count rescue '0'%></div></span>
                                            </a>
						                    <div id="subcart">
                                                    
                                                    <%= render :partial => 'carts/subcart' %>

                                            </div>					                    
						                </li>
						            </ul>							            
						        </div>
						    </div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
							<!-- Main Menu -->
							<div class="mainmenu">
								<nav>
									<ul>
										<li><a href="/"><%= t 'welcome.home' %></a></li>
										<li><a href="/products"><%= t 'welcome.shop' %></a></li>
										<li><a href="/aboutus"><%= t 'welcome.aboutus' %></a></li>
										<li><a href="#"><%= t 'welcome.blog' %></a></li>
										<li><a href="/contactus"><%= t 'welcome.contactus' %></a></li>
									</ul>
								</nav>
							</div>
							<!--Mian Menu End-->
						</div>
        	        </div>
        	    </div>
        	</div>
        	<!--Header Bottom End-->
        </div>

		<!-- Header Area End -->
		<!-- Mobile Menu Start -->
		<div class="mobile-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul>
									    <li><a href="/"><%= t 'welcome.home' %></a></li>
										<li><a href="/products"><%= t 'welcome.shop' %></a></li>
										<li><a href="about.html"><%= t 'welcome.aboutus' %></a></li>
										<li><a href="#"><%= t 'welcome.blog' %></a></li>
										<li><a href="contact.html"><%= t 'welcome.contactus' %></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<!-- Mobile Menu End -->
		<%=render :partial => '/customers/signin'%>

<script type="text/javascript">
  $(document).ready(function(){
      $("#search").focusin(function(){
        getLocation();
      });
  });

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }

  function showPosition(position) {
      var latitude  = position.coords.latitude;
      var longitude = position.coords.longitude;

       if (latitude && longitude) {
        $("#latitude").val(latitude);
        $("#longitude").val(longitude);
       }
  }
</script>
