    <div class="section-title">
    	<h2>Our Bestsellers</h2>
    </div>

    <div id="owl-demo" class="owl-carousel owl-theme">
    	<%@featured_products.each do |product|%>
      <div class="item">
        <!--////////////////////////////////////////////////////////////////////////-->   
        <div class="product-wrapper">
         <div class="product-box">
          <%=link_to(image_tag('/assets/commerce/product-1.jpg'),product_path(product), :class=>"img-responsive center-block") %>
       </div>
       <div class="details">
        <div class="name"><%=product.name%></div>
        <div class="price"><%=show_price(product.discounted_price)%><span class="price-original"><%=show_price(product.price)%></span></div>
        <div class="clear10"></div>
        <div class="store-name">
          <%=link_to "Store: "+"#{product.user.name}",  vendor_path(product.user)%>
        </div>
        <div class="clear10"></div>
        <div class="text-center">
         <div class="btn-group" role="group" aria-label="...">
           <%=link_to "View Product",  product_path(product), class: 'btn btn-default btn-sm'%>
           <%=link_to "View Store",  vendor_path(product.user), class: 'btn btn-default btn-sm'%>
          
        </div>
      </div>
    </div>
  </div>
  <!--////////////////////////////////////////////////////////////////////////-->  

</div>
<%end%>
<div class="item">
  <!--////////////////////////////////////////////////////////////////////////-->   
  <div class="product-wrapper">
   <div class="product-box">
    <a href="#">
     <img src="/assets/commerce/product-2.png" class="img-responsive center-block">
   </a>
 </div>
 <div class="details">
  <div class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, pariatur?</div>
  <div class="price">500 PKR <span class="price-original">800 PKR</span></div>
  <div class="clear10"></div>
  <div class="store-name"><a href="#">Store: Chen One</a></div>
  <div class="clear10"></div>
  <div class="text-center">
   <div class="btn-group" role="group" aria-label="...">
    <a  href="#" class="btn btn-default btn-sm">View Product</a>
    <a  href="#" class="btn btn-default btn-sm">View Store</a>
  </div>
</div>
</div>
</div>
<!--////////////////////////////////////////////////////////////////////////--> 
</div>
<div class="item">
  <!--////////////////////////////////////////////////////////////////////////-->   
  <div class="product-wrapper">
   <div class="product-box">
    <a href="#">
     <img src="/assets/commerce/product-3.png" class="img-responsive center-block">
   </a>
 </div>
 <div class="details">
  <div class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, pariatur?</div>
  <div class="price">500 PKR <span class="price-original">800 PKR</span></div>
  <div class="clear10"></div>
  <div class="store-name"><a href="#">Store: Chen One</a></div>
  <div class="clear10"></div>
  <div class="text-center">
   <div class="btn-group" role="group" aria-label="...">
    <a  href="#" class="btn btn-default btn-sm">View Product</a>
    <a  href="#" class="btn btn-default btn-sm">View Store</a>
  </div>

</div>
</div>
</div>
<!--////////////////////////////////////////////////////////////////////////--> 
</div>
<div class="item">
  <!--////////////////////////////////////////////////////////////////////////-->   
  <div class="product-wrapper">
   <div class="product-box">
    <a href="#">
     <img src="/assets/commerce/product-4.png" class="img-responsive center-block">
   </a>
 </div>
 <div class="details">
  <div class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, pariatur?</div>
  <div class="price">500 PKR <span class="price-original">800 PKR</span></div>
  <div class="clear10"></div>
  <div class="store-name"><a href="#">Store: Chen One</a></div>
  <div class="clear10"></div>
  <div class="text-center">
   <div class="btn-group" role="group" aria-label="...">
    <a  href="#" class="btn btn-default btn-sm">View Product</a>
    <a  href="#" class="btn btn-default btn-sm">View Store</a>
  </div>


</div>
</div>
</div>
<!--////////////////////////////////////////////////////////////////////////--> 
</div>

<div class="item">
  <!--////////////////////////////////////////////////////////////////////////-->   
  <div class="product-wrapper">
   <div class="product-box">
    <a href="#">
     <img src="/assets/commerce/product-5.png" class="img-responsive center-block">
   </a>
 </div>
 <div class="details">
  <div class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, pariatur?</div>
  <div class="price">500 PKR <span class="price-original">800 PKR</span></div>
  <div class="clear10"></div>
  <div class="store-name"><a href="#">Store: Chen One</a></div>
  <div class="clear10"></div>
  <div class="text-center">
   <div class="btn-group" role="group" aria-label="...">
    <a  href="#" class="btn btn-default btn-sm">View Product</a>
    <a  href="#" class="btn btn-default btn-sm">View Store</a>
  </div>


</div>
</div>
</div>
<!--////////////////////////////////////////////////////////////////////////--> 
</div>
<div class="item">
  <!--////////////////////////////////////////////////////////////////////////-->   
  <div class="product-wrapper">
   <div class="product-box">
    <a href="#">
     <img src="/assets/commerce/product-1.jpg" class="img-responsive center-block">
   </a>
 </div>
 <div class="details">
  <div class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, pariatur?</div>
  <div class="price">500 PKR <span class="price-original">800 PKR</span></div>
  <div class="clear10"></div>
  <div class="store-name"><a href="#">Store: Chen One</a></div>
  <div class="clear10"></div>
  <div class="text-center">
   <div class="btn-group" role="group" aria-label="...">
    <a  href="#" class="btn btn-default btn-sm">View Product</a>
    <a  href="#" class="btn btn-default btn-sm">View Store</a>
  </div>
</div>
</div>
</div>
<!--////////////////////////////////////////////////////////////////////////-->  

</div>
<div class="item">
  <!--////////////////////////////////////////////////////////////////////////-->   
  <div class="product-wrapper">
   <div class="product-box">
    <a href="#">
     <img src="/assets/commerce/product-2.png" class="img-responsive center-block">
   </a>
 </div>
 <div class="details">
  <div class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, pariatur?</div>
  <div class="price">500 PKR <span class="price-original">800 PKR</span></div>
  <div class="clear10"></div>
  <div class="store-name"><a href="#">Store: Chen One</a></div>
  <div class="clear10"></div>
  <div class="text-center">
   <div class="btn-group" role="group" aria-label="...">
    <a  href="#" class="btn btn-default btn-sm">View Product</a>
    <a  href="#" class="btn btn-default btn-sm">View Store</a>
  </div>


</div>
</div>
</div>
<!--////////////////////////////////////////////////////////////////////////--> 
</div>
</div> <!--////////////////////////////owl carousel ends///////////////////////////////////--> 