<%= render 'banner_with_detail' %>
<%#= render 'store_description' %>
<div class="container">
<%= render 'best_seller' %>
</div>
<div class="container">
<%= render 'featured_product' %>
</div>
<%= render 'store_description' %>
<%= render 'popular_vendors' %>
<div class="clear40"></div>
<div class="clear40"></div>

