<!--Slider Area Start-->
<div class="slider-area">
        <div class="slider-area">
            <div class="bend niceties preview-1">
				<div id="ensign-nivoslider-3" class="slides">   
				   <a href="#"><img src="/assets/slider/1.jpg" alt=""/></a>
				   <a href="#"> <img src="/assets/slider/2.jpg" alt=""/></a>
				</div>
            </div>
        </div>
</div>
<!--Slider Area End-->
<!--Service Area Start-->
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-12">
                <div class="single-item">
                    <i class="pe-7s-download"></i>
                    <h4><%= t 'welcome.freeshipping' %></h4>
                    <p><%= t 'welcome.Allorderonproducts' %></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-12">
                <div class="single-item">
                    <i class="pe-7s-refresh-2"></i>
                    <h4><%= t 'welcome.FREERETURNS' %></h4>
                    <p><%= t 'welcome.Onlyin30days' %></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-12">
                <div class="single-item">
                    <i class="pe-7s-chat"></i>
                    <h4><%= t 'welcome.SUPPORT24/7' %></h4>
                    <p><%= t 'welcome.Activesupport' %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Service Area End-->
<!--Featured Area Start-->
<div class="featured-area section-padding">
    <div class="container">
		<div class="section-title">
			<h4><%= t 'welcome.featured' %></h4>
		</div>
        <div class="row">
			<!--Product List Start-->
			<div class="featured-product-list indicator-style all_products_fix_images">






				<% @featured_products.each do |product| %>

					<!--Single Product -->
					<div class="col-md-3 col-sm-6">
						<div class="single-product">
							<!--product Content-->
							<div class="product-img-content">
								<!--Product Image-->
								<div class="product-img">
									<a href="<%=product_path(product.slug)%>" title="<%= product.name %>">
										<%if product.images.present? %>
											<%=image_tag product.images.first.avatar.url(:large)%>
                                        <%else%>
                                            <img src="/assets/featured/1.jpg"/>
										<%end%> 

									</a>		                                    
								</div>
								<span class="new-label"><%= t 'welcome.new' %></span>
								<%if product.discounted_price?%>
									<span class="sale-label">!<%= t 'welcome.sale' %></span>
								<%end%>
								

								<!--Product Action-->
								<div class="product-action"> 
									<a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
									<a  title="Quick view"  >
									<i class="fa fa-expand" onclick="getProductDetail(this)">
									<%= hidden_field_tag :product_id,{}, :value=>"#{product.slug}"  %></i>
									</a>
								</div>
							</div>
							<div class="product-content">
								<h5 class="clearfix">
									<div class="pull-left"><a href="<%=product_path(product.slug)%>" title="<%= product.name %>"><%= product.name %></a></div>
									<div class="pull-right"><a href="/products?vendor=<%= product.user.id %>" title="<%= product.user.name %>"><%= product.user.name%></a></div>
								</h5>
								<!--Product Rating-->
								<div class="rating-icon">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<!--Product Price-->
								<div class="product-price">
									<%if product.discounted_price?%>
									<span class="new-price"> <%= show_price(product.discounted_price) %> </span>
									<span class="old-price"><%=show_price(product.price ) %></span>
									<%else%>
									<span class="new-price"><%=show_price(product.price)  %></span>
									<%end%>
									
								</div>
							</div>
						</div>
					</div>
					<!--Single Product -->
				

				<% end %> 










			</div>
			<!--Product List Start-->
        </div>
    </div>
</div>
<!--Featured Area End-->	
<!--Deal Area Start-->
<div class="deal-area section-padding">
    <div class="container">
		<div class="section-title white">
			<h4><%= t 'welcome.dealofday' %></h4>
		</div>	 
        <div class="row">
			<div class="deal-area-list indicator-button all_products_fix_images">
				<% @admin_deal_of_days.each do |deal| %>
					<!--Deal Single Product -->
					<div class="deal-single-product">
						<div class="row">
							<div class="col-lg-6 col-md-6  col-sm-6 col-xs-12">
							   <div class="left-item" style="min-height: 347px;">
									<!--Product Image-->
									<a href="<%=product_path(deal.product.slug)%>" title="<%= deal.product.name %>">
										
										<%if deal.product.images.present? %>
											<%=image_tag deal.product.images.first.avatar.url(:large)%>
                                        <%else%>
                                            <img src="/assets/featured/1.jpg"/>
										<%end%> 
									</a>
									<span class="new-label"><%= t 'welcome.new' %></span>
									<%if deal.product.discounted_price?%>
										<span class="sale-label">!<%= t 'welcome.sale' %></span>
									<%end%>
									<!--Product Cuntdown-->
									<div class="product-cuntdown">
										<div class="timer">
											<div data-countdown="<%= deal.expiry_time%>"></div>
										</div>	
									</div>
								</div>
							</div>
							<div class="deal-product-content col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<h5><a href="<%=product_path(deal.product.slug)%>" title="<%= deal.product.name %>"><span><%= deal.product.name %></span></a></h5>
								<!--Product Rating-->
								<div class="rating-icon">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<p><%= truncate(deal.product.description ,:length => 100)%></p>
								<!--Product Price-->
								<div class="product-price">
									<%if deal.product.discounted_price?%>
									<span class="new-price"> <%= show_price(deal.product.discounted_price) %> </span>
									<span class="old-price"><%=show_price(deal.product.price ) %></span>
									<%else%>
									<span class="new-price"><%=show_price(deal.product.price)  %></span>
									<%end%>
								</div>
								<!--Product Action-->
								<div class="deal-product-action">
									<a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
									<a  title="Quick view"  >
									<i class="fa fa-expand" onclick="getProductDetail(this)">
									<%= hidden_field_tag :product_id,{}, :value=>"#{deal.product.slug}"  %></i>
									</a>
								</div>
							</div>
						</div>
					</div>	   
				<%end%>
				<div class="deal-single-product">
							<div class="row">
								<div class="col-lg-6 col-md-6  col-sm-6 col-xs-12">
								   <div class="left-item">
										<!--Product Image-->
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="assets/featured/2.jpg" alt="">
										</a>
										<span class="new-label"><%= t 'welcome.new' %></span>
										<span class="sale-label">!<%= t 'welcome.sale' %></span>
										<!--Product Cuntdown-->
										<div class="product-cuntdown">
											<div class="timer">
												<div data-countdown="2016/06/01"></div>
											</div>	
										</div>
									</div>
								</div>
								<div class="deal-product-content col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<h5><a href="product-simple.html" title="Printed Dress">Printed Summer Dress</a></h5>
									<!--Product Rating-->
									<div class="rating-icon">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<p>Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with...</p>
									<!--Product Price-->
									<div class="product-price">
										<span class="new-price">£ 34.78</span>
										<span class="old-price">£ 36.61</span>
									</div>
									<!--Product Action-->
									<div class="deal-product-action">
										<a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
										<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal"><i class="fa fa-expand"></i></a>
									</div>
								</div>
							</div>
				</div>	  
				
			</div>
        </div>
    </div>
</div>
<!--Deal Area End-->
<!--New products Area Start-->
<div class="featured-area section-padding">
    <div class="container">
		<div class="section-title">
			<h4><%= t 'welcome.newproducts' %></h4>
		</div>
        <div class="row">
			<!--Product List Start-->
			<div class="featured-product-list indicator-style all_products_fix_images">
				


				<% @unfeatured_products.each do |product| %>

					<!--Single Product -->
					<div class="col-md-3 col-sm-6">
						<div class="single-product">
							<!--product Content-->
							<div class="product-img-content">
								<!--Product Image-->
								<div class="product-img">
									<a href="<%=product_path(product.slug)%>" title="<%= product.name %>">
										<%if product.images.present? %>
											<%=image_tag product.images.first.avatar.url(:large)%>
                                        <%else%>
                                            <img src="/assets/featured/1.jpg"/>
										<%end%> 

									</a>		                                    
								</div>
								<span class="new-label"><%= t 'welcome.new' %></span>
								<%if product.discounted_price?%>
									<span class="sale-label">!<%= t 'welcome.sale' %></span>
								<%end%>
								

								<!--Product Action-->
								<div class="product-action"> 
									<a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
									<a  title="Quick view"  >
									<i class="fa fa-expand" onclick="getProductDetail(this)">
									<%= hidden_field_tag :product_id,{}, :value=>"#{product.slug}"  %></i>
									</a>
								</div>
							</div>
							<div class="product-content">
								<h5 class="clearfix">
									<div class="pull-left"><a href="<%=product_path(product.slug)%>" title="<%= product.name %>"><%= product.name %></a></div>
									<div class="pull-right"><a href="/products?vendor=<%= product.user.id %>" title="<%= product.user.name %>"><%= product.user.name%></a></div>
								</h5>
								<!--Product Rating-->
								<div class="rating-icon">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<!--Product Price-->
								<div class="product-price">
									<div class="product-price">
									<%if product.discounted_price?%>
									<span class="new-price"> <%= show_price(product.discounted_price) %> </span>
									<span class="old-price"><%=show_price(product.price ) %></span>
									<%else%>
									<span class="new-price"><%=show_price(product.price)  %></span>
									<%end%>
								</div>
									
								</div>
							</div>
						</div>
					</div>
					<!--Single Product -->
				

				<% end %> 







			</div>
			<!--Product List Start-->
        </div>	
    </div>
</div>
<!--New products Area End-->
<!--Banner Area Start-->
<div class="banner-area section-padding2">
	<div class="container">
		<div class="row">
			<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="banner-image indicator-banner">
					<a href="#">
						<img src="/assets/banner/1.jpg" alt="">
					</a>
				</div>
				<div class="banner-image">
					<a href="#">
						<img src="/assets/banner/2.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="banner-image">
					<a href="#">
						<img src="/assets/banner/3.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="banner-image">
					<a href="#">
						<img src="/assets/banner/4.jpg" alt="">
					</a>
				</div>
			</div>			
		</div>
	</div>
</div>
<!--Banner Area End-->		
<!--Category Area Start-->
<div class="category-area">
    <div class="container">
        <div class="row">
            <div class="single-cat-list col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<!-- Category Title -->
				<h4>Bedroom</h4>
				<!-- Category List -->
				<div class="row">
					<div class="category-container-list">
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Faded Short Sleeves T-shirt">
											<img src="/assets/featured/1.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Faded Short Sleeves T-shirt">Faded Short Sleeves T-shirt</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 16.84</span>
											<span class="old-price">£ 19.81</span>
										</div>	
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Blouse">
											<img src="/assets/featured/2.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Blouse">Blouse</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 32.40</span>
										</div>
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/3.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 32.20</span>
										</div>	
									</div>
								</div>
							</div> 									
						</div>
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/4.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 61.19</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->	
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/5.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 34.78</span>
											<span class="old-price">£ 36.61</span>
										</div>		
									</div>
								</div>
							</div> 
							<!-- Single Product -->	
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/6.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 36.60</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->									
						</div>	
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Chiffon Dress">
											<img src="/assets/featured/7.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Chiffon Dress">Printed Chiffon Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 21.65</span>
											<span class="old-price">£ 24.60</span>
										</div>		
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/2.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 21.65</span>
											<span class="old-price">£ 24.60</span>
										</div>	
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/5.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 21.65</span>
											<span class="old-price">£ 24.60</span>
										</div>
									</div>
								</div>
							</div> 					
						</div>								
					</div>
				</div>
			</div>
            <div class="single-cat-list col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<!-- Category Title -->
				<h4>Livingroom</h4>
				<!-- Category List -->
				<div class="row">
					<div class="category-container-list">
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/4.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 61.19</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->	
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/5.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 34.78</span>
											<span class="old-price">£ 36.61</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->	
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/6.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 36.60</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->									
						</div>	
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Faded Short Sleeves T-shirt">
											<img src="/assets/featured/1.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Faded Short Sleeves T-shirt">Faded Short Sleeves T-shirt</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 16.84</span>
											<span class="old-price">£ 19.81</span>
										</div>	
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Blouse">
											<img src="/assets/featured/2.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Blouse">Blouse</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 32.40</span>
										</div>		
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/3.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="#" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 32.20</span>
										</div>	
									</div>
								</div>
							</div> 									
						</div>								
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Chiffon Dress">
											<img src="/assets/featured/7.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="#" title="Printed Chiffon Dress">Printed Chiffon Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 21.65</span>
											<span class="old-price">£ 24.60</span>
										</div>	
									</div>
								</div>
							</div>
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/3.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="#" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 31.45</span>
											<span class="old-price">£ 34.60</span>
										</div>	
									</div>
								</div>
							</div>
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/6.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 26.60</span>
										</div>	
									</div>
								</div>
							</div> 					
						</div>								
					</div>
				</div>
			</div>
            <div class="single-cat-list col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<!-- Category Title -->
				<h4>Lighting</h4>
				<!-- Category List -->
				<div class="row">
					<div class="category-container-list">
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Faded Short Sleeves T-shirt">
											<img src="/assets/featured/1.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Faded Short Sleeves T-shirt">Faded Short Sleeves T-shirt</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 16.84</span>
											<span class="old-price">£ 19.81</span>
										</div>	
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Blouse">
											<img src="/assets/featured/2.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Blouse">Blouse</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 32.40</span>
										</div>	
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/3.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 32.20</span>
										</div>	
									</div>
								</div>
							</div> 									
						</div>
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/4.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 61.19</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->	
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/5.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 34.78</span>
											<span class="old-price">£ 36.61</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->	
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/6.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 36.60</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->									
						</div>	
						<div class="single-p-item">
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Chiffon Dress">
											<img src="/assets/featured/7.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Chiffon Dress">Printed Chiffon Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 21.65</span>
											<span class="old-price">£ 24.60</span>
										</div>	
									</div>
								</div>
							</div> 
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Dress">
											<img src="/assets/featured/5.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Dress">Printed Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 40.65</span>
											<span class="old-price">£ 44.60</span>
										</div>	
									</div>
								</div>
							</div> 	
							<!-- Single Product -->
							<div class="single-product">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-img">
										<a href="product-simple.html" title="Printed Summer Dress">
											<img src="/assets/featured/2.jpg" alt="">
										</a>		                                    
									</div>                                        
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
									<div class="product-content">
										<h5><a href="product-simple.html" title="Printed Summer Dress">Printed Summer Dress</a></h5>
										<!--Product Rating-->
										<div class="rating-icon">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<!--Product Price-->
										<div class="product-price">
											<span class="new-price">£ 23.65</span>
										</div>	
									</div>
								</div>
							</div> 					
						</div>								
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
<!--Category Area End-->	
<!--News Letter Area Start-->	
<div class="news-letter-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7  col-sm-7 col-xs-12">
				<div class="banner-image">
					<a href="#">
						<img src="/assets/news-letter.jpg" alt="">
					</a>
				</div>		                
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="letter-box">
                    <div class="letter-title">
                        <h4>Newsletter</h4>
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <p>Subscribe to our email newsletter & receive updates right in your inbox.</p>
                    <form  class="search-box" action="#" method="POST">
                        <div>
							<input type="text" name="s" id="search-letter" value="Enter your e-mail">
                            <button type="submit" id="search-letter-btn" class="btn btn-search">
                                <i class="fa fa-paper-plane-o"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--News Letter Area End-->	
<!--Testimonial Area Start-->
<div class="testimonial-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--Testimonial List-->
                <div class="testimonial-list indicator-button">
                    <!--Single Testimonial-->
                    <div class="single-testimonial">
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        <div class="testimonial-img">
                            <img src="/assets/testimonial/1.jpg" alt="">
                        </div>
                        <div class="testimonial-title">
                            <h4>Bootexpert<span>-</span> demo@demo.com</h4>
                        </div>
                    </div>
                    <!--Single Testimonial-->
                    <div class="single-testimonial">
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        <div class="testimonial-img">
                            <img src="/assets/testimonial/2.jpg" alt="">
                        </div>
                        <div class="testimonial-title">
                            <h4>Bootexpert <span>-</span> demo@demo.com</h4>
                        </div>
                    </div>
                    <!--Single Testimonial-->
                    <div class="single-testimonial">
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        <div class="testimonial-img">
                            <img src="/assets/testimonial/3.jpg" alt="">
                        </div>
                        <div class="testimonial-title">
                            <h4>Bootexpert <span>-</span> demo@demo.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Testimonial Area End-->
<!--Brand Area Start-->
<div class="brand-area section-padding2">
    <div class="container">
        <div class="row">		            
            <div class="brand-list">
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/2.jpg" alt=""></a>
                    </div>
                </div> 
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/5.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/6.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/7.jpg" alt=""></a>
                    </div>
                </div>                      
            </div>
        </div>
    </div>
</div>
<!--Brand Area End-->
<!--Blog Area Start-->
<div class="blog-area section-padding">
    <div class="container">
		<div class="section-title">
			<h4>from the blog</h4>
		</div>
        <div class="row">
            <div class="blog-list indicator-style">
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="blog-details.html">
                                <img src="/assets/blog/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h5><a href="blog-details.html">Share the Love for PrestaShop 1.6</a></h5>
                            <div class="date-added">2015-12-28 04:28:04</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="blog-details.html">
                                <img src="/assets/blog/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h5><a href="blog-details.html">Answers to your Questions about...</a></h5>
                            <div class="date-added">2015-12-28 04:28:04</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="blog-details.html">
                                <img src="/assets/blog/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h5><a href="blog-details.html">What is Bootstrap? – The History...</a></h5>
                            <div class="date-added">2015-12-28 04:28:04</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="blog-details.html">
                                <img src="/assets/blog/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h5><a href="blog-details.html">From Now we are certified web...</a></h5>
                            <div class="date-added">2015-12-28 04:28:04</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>	        
    </div>
</div>
<!--Blog Area End-->
<div id="quickview-wrapper">
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" style="margin-top: 100px;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body text-center">
        <p>Do you want to Continue Shopping or Go to Cart?</p>
        <br>        
          <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="location.href='/carts'">Go to Cart</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
        <br>
      </div>
      
    </div>

  </div>
</div>
