<% @order = @current_order%>



<hr>
<br><br>
<%= form_for @order, :url => checkout_details_path, html: {"data-parsley-validate" => true} do |f| %>
<div class="container">
  
  <div class="row">
    
    <div class="section-title">
      <h4>Checkout</h4>
    </div>

  <div class="col-md-8 forms">
    <!--////////////////-->

    <div class="row">

      <div class="col-md-12">
        <h4>Contact Details</h4><br>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Email Address*</label>
          <%= f.text_field :email, :class=>"form-control", :placeholder=>"Email Address", :value=>current_customer.try(:email) , :required=>true %>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Contact Number*</label>
          <%= f.number_field :mobile_number, :class=>"form-control", :placeholder=>"Email Address", :value=>current_customer.try(:mobile_number) , :required=>true %>
          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <br><h4>Delivery Details</h4><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>First Name*</label>
          <%= f.text_field :first_name, :class=>"form-control", :placeholder=>"Email Address", :value=>current_customer.try(:first_name) , :required=>true %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Last Name*</label>
          <%= f.text_field :last_name, :class=>"form-control", :placeholder=>"Email Address", :value=>current_customer.try(:last_name) , :required=>true %>
        </div>
      </div>
      <%= f.fields_for :addresses do |add| %>
        <div class="col-md-12">
          <div class="form-group">
            <label>Address*</label>
            <%= add.text_field :address, :class=>"form-control", :placeholder=>"address", :value=>current_customer.addresses.first.try(:address) , :required=>true %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Country*</label>
            <%= add.text_field :country, :class=>"form-control", :placeholder=>"address", :value=>current_customer.addresses.first.try(:country) , :required=>true %>
          </div>
        </div>
      

        <div class="col-md-4">
          <div class="form-group">
            <label>State*</label>
            <%= add.text_field :country_state, :class=>"form-control", :placeholder=>"address", :value=>current_customer.addresses.first.try(:country_state) , :required=>true %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>City*</label>
            <%= add.text_field :city, :class=>"form-control", :placeholder=>"address", :value=>current_customer.addresses.first.try(:city) , :required=>true %>
          </div>
        </div>

      </div>
    <%end%>

    <div class="row">
      <div class="col-md-12">
        <br><h4>Order Notes</h4><br>
        <%= f.text_area :order_notes, :class=>"form-control", :placeholder=>"Order Notes" , :required=>true %>
      </div>
    </div>

   

    <div class="row">
      <div class="col-md-12">
        <br><h4>Payment Method</h4>
        Cash on Delivery.
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-md-6">
        <div class="form-group">
          <label>Card Number</label>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>CVC</label>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div> -->

      <div class="col-md-6">
        <!-- <div class="form-group">
          <label>Expiration Date</label>
          
          <div class="row">
            <div class="col-sm-4">
              <label>Month</label>    
              <input type="text" class="form-control" placeholder="MM" maxlength="2">
            </div>
            <div class="col-sm-8">
              <label>Year</label>   
              <input type="text" class="form-control" placeholder="YYYY" maxlength="4">
            </div>
          </div>
          

        </div> -->
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox"> I agree to the terms of use
            </label>
          </div>
        </div>
      </div>
      
      

      <div class="col-md-12">
      <br>
        <button class="btn btn-success btn-lg">ORDER NOW</button>
      </div>

    </div>

    <!--////////////////-->
  </div>

  <div class="col-md-4">
    <% if @current_order and @current_order.line_items.present? %>  
      <div class="summary-box">
        <h4>Order Summary</h4>
        <hr class="dimmed">
          <% @current_order.line_items.each do |item| %>

            <div class="media">
              <a class="pull-left" href="<%=product_path(item.product.id)%>"><img class="media-object" src="<%= item.get_image %>" style="max-width: 72px;" class="img-responsive"></a>
              <div class="media-body">
                  <h4 class="media-heading"><a href="<%=product_path(item.product.id)%>"><%= item.get_name %></a></h4>
                  <h5 class="media-heading"> Price: 
                    <%if item.product.discounted_price.present?%>
                      <%= show_price(item.product.discounted_price) %>
                   <%else%>
                      <%= show_price(item.product.price) %>
                   <%end%>

                  </h5>
                  <div>Qty: <strong><%= item.quantity %></strong></div>
              </div>
            </div>
          <%end%>

          
          </div>
        <hr class="dimmed">
        <div class="row">
          <div class="col-xs-6 text-right">Subtotal:</div>
          <div class="col-xs-6 text-right">
            <%if @current_order.present?%>
              <%= show_price(@current_order.sub_total) %>
            <%end%>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 text-right">Shipping:</div>
          <div class="col-xs-6 text-right">Free</div>
        </div>
        <hr class="dimmed">
        <div class="row">
          <div class="col-xs-6 text-right">Grand Total:</div>
          <div class="col-xs-6 text-right">
            <%if @current_order.present?%>
              <%= show_price(@current_order.sub_total) %>
            <%end%>

          </div>
        </div>  
      </div>
    <%end%>
  </div>
  </div>
</div>
<br><br><br><br>
<% end %>