<div>
<%if @current_order.present?%>
    <% if @current_order.line_items.present? %>
    
      <% @current_order.line_items.each do |item| %>

         <div class=" col-md-2 col-sm-12 col-xs-12">
              <img class="img-responsive center-block" src='<%= item.get_image %>' width='200px' height='98px;' alt='Not found' alt="" draggable="false">
         </div>
         <div class="col-md-10 col-sm-12 col-xs-12 order-item padding-top-30">
           
              <div class="col-md-2 col-sm-12 col-xs-12 order-size allan " >
                  <h3> <%= item.get_name %> <br><strong><%#= number_to_currency item.unit_price %> 
                   <small>
                   <!-- PKR -->
                   </small>
               </strong></h3>
              </div>
              <div class="col-md-2 col-sm-12 col-xs-12 order-size allan" >
                <%#= hidden_field_tag :item_id,{}, :value=>item.id  %>
               <!-- <p class="details-cart">peltro distressed (H38222)</p> -->
               <%# if item.ordered_item.has_sizes? %>
                 <strong>Size: </strong><%= item.size_name %>
                 <%#= select_tag 'size', options_for_select(item.ordered_item.get_available_sizes.collect(&:name), item.size), :class=> "qty size-select", :onChange=>"updateOrderItem(this)" %>
               <%# end %>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 order-size allan">
                <%# if item.ordered_item.has_available_colors? %>
                <strong><span class="qty-font">COLOR: </span></strong><%= item.color_name %>
                <%#= select_tag 'color', options_for_select(item.ordered_item.get_available_variants.collect{ |v| [v.name, v.id] }, item.ordered_item.id), :class=> "qty size-select", :style=>"", :onChange=>"updateOrderItem(this)" %>
              <%# end %>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 order-size allan" ">
                  <strong><span class="qty-font">QTY:</span> </strong><%= item.quantity %>

               <%#= select_tag 'quantity', options_for_select(Shoppe::Product::QUANTITY, item.quantity), :class=> "qty ", :onChange=>"updateOrderItem(this)" %>
               

              </div>
              <div class="col-md-2 col-sm-12 col-xs-12 order-size allan no-padding" ">
                <span class="cart-total"> Total <%#= number_to_currency item.sub_total %> </span>
                <%= item.total %>
              </div>
              
              </div>
           <div style="clear:both"></div>
         

         
      <% end %>
    <% else %>
      <div class="text-center"><h3>Your cart is empty.</h3></div>
    <% end %>
    
    <%end%>
</div>
