<br><h1>Store Settings</h1>
<br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Select Currency Form
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                    <%@store = Store.first%>
                        <%= form_for(@store, :url => admin_store_setting_path(@store)) do |f| %>
                            
                            <div class="form-group">
                               <%=f.label :currency%>
                               <br>
                               <%=f.select :currency,  currency_codes, class: 'form-control' , placeholder: 'Enter currency' %>
                              
                            </div>
                            <div class="form-group">
                               <%=f.label :facebook_link%>
                               <br>
                               <%=f.text_field :facebook_link, class: 'form-control' , placeholder: 'Enter facebook link' %>
                              
                            </div>
                            <div class="form-group">
                               <%=f.label :twitter_link%>
                               <br>
                               <%=f.text_field :twitter_link, class: 'form-control' , placeholder: 'Enter twitter link' %>
                              
                            </div>
                            <div class="form-group">
                               <%=f.label :pintrest_link%>
                               <br>
                               <%=f.text_field :pintrest_link,  class: 'form-control' , placeholder: 'Enter pinterest link' %>
                              
                            </div>
                            <div class="form-group">
                               <%=f.label :google_link%>
                               <br>
                               <%=f.text_field :google_link,   class: 'form-control' , placeholder: 'Enter google link' %>
                              
                            </div>
                            <div class="form-group">
                               <%=f.label :youtube_link%>
                               <br>
                               <%=f.text_field :youtube_link,   class: 'form-control' , placeholder: 'Enter youtube link' %>
                              
                            </div>
                            <div class="form-group">
                               <%=f.label :contact_email%>
                               <br>
                               <%=f.text_field :contact_email,   class: 'form-control' , placeholder: 'Enter contact email' %>
                              
                            </div>
                            <div class="form-group">
                               <%=f.label :contact_address%>
                               <br>
                               <%=f.text_field :contact_address,  class: 'form-control' , placeholder: 'Enter office address' %>
                              
                            </div>
                            <%= f.submit 'Submit Button', class: "btn btn-default" %>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                            <a  href="/admin/users" class="btn btn-default">Back</a>
                        <%end%>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->