<div class="dataTable_wrapper">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-size">
        <thead>
            <tr>
            <th style="display: none;"></th>
                <th><%= t 'admin.name'%></th>
                <th><%= t 'admin.value'%></th>
                <th><%= t 'admin.vendorname'%></th>
                <th><%= t 'admin.tool'%></th>
            </tr>
        </thead>
        <tbody>

        <% @admin_sizes.each do |size| %>

            <tr class="odd gradeX">
            <td style="display: none;"></td>
                <td><%= size.name %></td>
                <td><%= size.value %></td>
                <td><%= size.user.name rescue 'admin'%></td>
                <td class="center">
                    <span><%= link_to '', edit_admin_size_path(size),class: "edit fa fa-edit icon_link with-tip no-text", title: "edit" %> </span>
                    <span>
                        <%#= link_to '',  admin_size_path(size),  method: :delete, data: { confirm: 'Are you sure?' } ,class: "fa fa-trash icon_link with-tip no-text"%>
                    </span>
                </td>
            </tr>

        <% end %>                                                                             
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->
<script>
    $(document).ready(function() {
        $('#dataTables-size').DataTable({
                responsive: true
        });
    });
</script>