<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&language=<%=@lang%>"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              Basic Form Elements
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <%= form_for @user, :url => url_for([:admin, @user]) do |f| %>
                            
                            <div class="form-group">
                               <%=f.label :name%>
                                <%=f.text_field :name ,class: 'form-control', placeholder: 'Enter name' ,:require => true %>
                            </div>
                            <div class="form-group">
                               <%=f.label :email%>
                                <%=f.text_field :email ,class: 'form-control', placeholder: 'Enter Email',:require => true%>
                            </div>
                            <%if params[:action] == 'new'%>
                            <div class="form-group">
                               <%=f.label :password%>
                                <%=f.text_field :password ,class: 'form-control', placeholder: 'Eneter password',:require => true , :minlength=> 6%>
                            </div>
                            <%end%>
                            <div class="form-group">
                                <%=f.label :location %>
                                 <%=f.text_field :location ,class: 'form-control ',:id=> 'select_location' ,:require => true%>
                            </div>
                             <div class="form-group">
                            <%if current_user.has_role? 'superadmin' %>
                    				<%= f.select "role_ids", options_for_select(Role.all.collect{ |u| [u.name, u.id]}, :selected=> f.object.roles.first.id rescue '', {:class =>"form-control"} %>
                							<%end%>
                							</div>
                           
                            
                            
                            
                            
                            <%= f.submit 'Submit Button', class: "btn btn-default" %>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                            <a  href="/admin/users" class="btn btn-default">Back</a>
                        <%end%>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<script type="text/javascript">
function initialize() {
 

input = document.getElementById('select_location');
 autocomplete = new google.maps.places.Autocomplete(input);
}

google.maps.event.addDomListener(window, 'load', initialize);
    
</script>