<p id="notice"><%= notice %></p>

<h1>Listing Admin Vendors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_vendors.each do |admin_vendor| %>
      <tr>
        <td><%= link_to 'Show', admin_vendor %></td>
        <td><%= link_to 'Edit', edit_admin_vendor_path(admin_vendor) %></td>
        <td><%= link_to 'Destroy', admin_vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_admin_vendor_path %>
