<form method="post" id="cart_form_popup" action="">
	<%if @product.sizes.present?%>
		<p class="shop-select">
			<label>Size &nbsp; &nbsp;</label>
			<select id="size_id" style="width:190px;"	>
				
				<% @product.sizes.each do |size| %>

	            	<option value="<%=size.id%>" <span><%=size.name%> </span></option>
	        
	        	<%end%>
			</select> 										
		</p>	 
	<%end%>
	<%if @product.colors.present?%>
		<p class="shop-select">
			<label>Color &nbsp;</label>
			<select  id="color_id" style="width:190px;">
				<% @product.colors.each do |color| %>

		            	<option value="<%=color.id%>" <span><%=color.name%> </span></option>
		        
		        	<%end%>
			</select> 										
		</p>
	<%end%>
	<div class="product-attributes clearfix">
	<div class="numbers-row">
        <input type="number" id="french-hens" value="1" min="1">
    </div>
		
		<span>
			<button type="submit" class="cart-btn">
				<i class="fa fa-shopping-cart"></i>
				<span>Add to Cart</span>

			</button>
			<!-- <a  onclick="document.getElementById('cart_form').submit()" class="cart-btn"> -->
			<!-- <i class="fa fa-shopping-cart"></i>
			<span>Add to Cart</span></a> -->
		</span>
		<%= hidden_field_tag "product_id1" , @product.id%>
		
	</div>
</form>








<script>

	$("#cart_form_popup").submit(function(e) {
		e.preventDefault();
		var q= $('#french-hens').val();
		 product_id = $('#product_id1').val();
		 size_id = $('#size_id').val();
		 color_id = $('#color_id').val();

	  
	   $.ajax({

	   url: '/carts',
	   method: "POST",
       data: {"product_id" : product_id,"quantity" : q,"size_id" : size_id,"color_id" : color_id},
       format : 'js',
       success: function(data) {

 		$('.close').click();    		
     	$('#myModal').modal('show');

 
	      
	     }
	   });
	});
</script