<div class="col-xs-12 col-sm-3">
  <aside class="widget-title hidden-xs">
    <p>Filter</p>
  </aside>
  <div class="widet-filter-button-mobile text-right visible-xs">
    <a href="javascript:void(0)" class="filter-button-shop">Filter</a>
  </div>
  <%=form_tag products_path, method: 'get', id: "filters", :remote=>true do%>
  <input type="hidden" name="sorting_order" id="sorting_order" value="">
    <div class="left-widget-content  indicator-banner">
        <div id="selected_filters">
          <aside class="enabled-filters widget">
            <h3 class="widget-subtitle">Enabled filters:</h3>
            <ul>
              <div id="selected_filters_sizes">
                <li>No Size Selected
                  
                </li>
              </div>
              <div id="selected_filters_colors">
              <li>No Color Selected
                
              </li>
              </div>
              <li id="price_range_show">

                Price: <%=store_unit%> <%=@min_price%> - <%=store_unit%> <%=@max_price%>
              </li>
            </ul>
          </aside>
        </div>
      <aside class="left-widget-price widget">
        <h3 class="widget-subtitle">Price</h3>
        <div class="info-widget">
          <div class="price-filter">
            <div class="price-slider-amount">
              <label>Range:</label>
              <input type="text" id="amount" name="price"  placeholder="Add Your Price" readonly="true" />
              <%= hidden_field_tag(:min_price, "") %>
              <%= hidden_field_tag(:max_price, "") %>
            </div>
            <div id="slider-range"></div>
          </div>
        </div>
      </aside>
      <aside class="left-widget-size widget">
        <h3 class="widget-subtitle">Size</h3>
        <div class="widget-info">
          <ul>
          <%@sizes.each do |size|%>
            <li>
              <%= check_box_tag "checkbox_#{size.id}_#{size.name}", "#{size.id}",false, id:"checkbox_#{size.id}_#{size.name}", :name=>"sizes_ids[]"%>
              <%=size.name%> (<%= size.products.count %>)
            </li>
          <% end %>
          </ul>
        </div>
      </aside>
      <aside class="left-widget-color widget">
        <h3 class="widget-subtitle">Color</h3>
        <div class="widget-info">
          <ul>
          <%@colors.each do |color|%>
              <li>
                <%= check_box_tag "checkbox_#{color.id}_#{color.name}", "#{color.id}",false, id:"checkbox_#{color.id}_#{color.name}", :name=>"colors_ids[]"%>
                <%=color.name%> (<%= color.products.count %>)
              </li>
            <% end %>
          </ul>
        </div>
      </aside>
    </div>
    <%= submit_tag "Filter", :id => 'submit', class: "hidden"%>
  <% end %>

  <div class="banner-image hidden-xs">
    <a href="#">
    <img alt="" src="assets/banner/28.jpg">
    </a>
  </div>
</div>