<!-- Category Title -->

						<div class="single-p-item">


 

							<% @top_sellers.limit(3).each do |product|%>

								<!-- Single Product -->
								<div class="single-product">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="product-img">
											<a href="<%=product_path(product.slug)%>" title="<%= product.name %>">
												<%if product.images.present? %>
													<%=image_tag product.images.first.avatar.url(:large), :class => "img-responsive	 center-block"%>
												<%end%>
											</a>  		                                    
										</div>                                        
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="product-content">
											<h5><a href="<%=product_path(product.slug)%>" title="<%= product.name %>"><%= product.name %></a></h5>
											<!--Product Rating-->
											<div class="rating-icon">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<!--Product Price-->
											<div class="product-price">
												<%if product.discounted_price?%>
													<span class="new-price"> <%= show_price(product.discounted_price) %> </span>
													
													<%else%>
													<span class="new-price"><%=show_price(product.price)  %></span>
												<%end%>
											</div>												
										</div>
									</div>
								</div> 	
								<!-- Single Product -->
							<%end%>






															
						</div>
						<div class="single-p-item">
							<!-- Single Product -->
							<% @top_sellers.limit(3).offset(3).each do |product|%>

								<!-- Single Product -->
								<div class="single-product">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="product-img"  >
											<a href="<%=product_path(product.slug)%>" title="<%= product.name %>">
												<%if product.images.present? %>
													<%=image_tag product.images.first.avatar.url(:large), :class => "img-responsive	 center-block"%>
												<%end%>
											</a>  		                                    
										</div>                                        
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="product-content">
											<h5><a href="<%=product_path(product.slug)%>" title="<%= product.name %>"><%= product.name %></a></h5>
											<!--Product Rating-->
											<div class="rating-icon">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<!--Product Price-->
											<div class="product-price">
												<%if product.discounted_price?%>
													<span class="new-price"> <%= show_price(product.discounted_price) %> </span>
													
													<%else%>
													<span class="new-price"><%=show_price(product.price)  %></span>
												<%end%>
											</div>												
										</div>
									</div>
								</div> 	
								<!-- Single Product -->
							<%end%>
								
						</div>	
						<div class="single-p-item">
							<% @top_sellers.limit(3).offset(6).each do |product|%>

								<!-- Single Product -->
								<div class="single-product">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="product-img">
											<a href="<%=product_path(product.slug)%>" title="<%= product.name %>">
												<%if product.images.present? %>
													<%=image_tag product.images.first.avatar.url(:large), :class => "img-responsive	 center-block" ,:style => 'height:154px;'%>
												<%end%>
											</a>  		                                    
										</div>                                        
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="product-content">
											<h5><a href="<%=product_path(product.slug)%>" title="<%= product.name %>"><%= product.name %></a></h5>
											<!--Product Rating-->
											<div class="rating-icon">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<!--Product Price-->
											<div class="product-price">
												<%if product.discounted_price?%>
													<span class="new-price"> <%= show_price(product.discounted_price) %> </span>
													
													<%else%>
													<span class="new-price"><%=show_price(product.price)  %></span>
												<%end%>
											</div>												
										</div>
									</div>
								</div> 	
								<!-- Single Product -->
							<%end%>
 	 					
						</div>								
					</div>
				</div>