<div class="breadcrumbs-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-single">
                    <ul class="breadcrumbs">
                        <li><a href="/" title="Return to Home">
                            <i class="fa fa-home"></i>
                            Home
                        </a></li>
                        <li>
                            <span>></span>
                        </li>
                        
                        <li>Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Area End -->
<!-- All Product Side Bar Area Start -->
<div class="all-product-sidebar-area section-padding2" id="test">
  <div class="container">
    <div class="row">
        <%= render "sidebar" %>
      <div class="col-xs-12 col-sm-9">
        <img src="/assets/bedroom.jpg" class="hidden-xs" alt="" />
        <h1 class="page-heading section-padding2">
          <span class="cat-name pull-left">Products </span>
          <span class="heading-counter pull-right uniq">There are <%=@total_products.count%> products.</span>
        </h1>
        <div class="shop-item-filter">
          <div class="shop-tab clearfix">
            <!-- Nav tabs -->
            <ul class="tab-menu" role="tablist">
              <li role="presentation" class="active">
                <a href="#grid" aria-controls="grid" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i></a>
              </li>
              <li role="presentation">
                <a href="#list" aria-controls="list" role="tab" data-toggle="tab"><i class="fa fa-th-list"></i></a>
              </li>
            </ul>
            <div class="shop-tab-selectors pull-right">
              <%=form_tag products_path, method: 'get', id: "sorting", :remote=>true do%>
                <div class="single-shop-form single-shop-show pull-left">
                  <label>Sort by</label>
                  <div class="shop-select">
                  
                    <%= select_tag 'sort_by', options_for_select(Admin::Product::SORT_OPTIONS.collect{ |v| [v.last, v.first] }) , :onchange => 'sort_order(this.value)' %>

                   
                  
                  </div>
                </div>
                <div class="single-shop-form pull-left">
                  <label>Show</label>
                  <div class="shop-select">
                    <select>
                      <option selected="selected">12</option>
                      <option>6</option>
                    </select>
                  </div>
                </div>
                <div class="single-shop-form pul-right">
                  <button type="submit">
                  <span>Compare (<strong class="total-compare-val">0</strong>)<i class="fa fa-chevron-right right"></i></span>
                  </button>                     
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="grid">
            <div class="row">
              <div id="products">
                <%=render :partial => 'products'%>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="list">
            <div class="row">
              <div id="listview_products">
                <%=render :partial => 'listview_products'%>
              </div>
            </div>
          </div>
        </div>
        
         <div id="paginator">
          <%= paginate @products, :remote => true %>
         </div>
<!--         <div class="row">
          <div class="col-md-12">
            <div class="pagination-content">
              <p class="pull-left">Showing 1 - 10 of 10 items</p>
              <div class="pagination-button pull-right">
                <ul class="pagination">
                  <li class="pagination-previous" id="pagination-previous-bottom">
                    <a href="#"><i class="fa fa-chevron-left"></i>Previous</a>
                  </li>
                  <li><a href="#"><span>1</span></a></li>
                  <li><a href="#">2</a></li>
                  <li class="pagination-next" id="pagination-next-bottom">
                    <a href="#">Next<i class="fa fa-chevron-right"></i></a>
                  </li>
                </ul>
                <button class="show-pagi">Show all</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- All Product Side Bar Area End -->

<!--End of Quickview Product-->	

<%unit = store_unit%>
<script type="text/javascript">
  
  set_max_min_price(<%=@max_price%>,<%=@min_price%>,'<%=store_unit%>');


</script>
<script type="text/javascript">
  
  $('#paginator').bind('DOMNodeInserted DOMNodeRemoved', function(event) {
     // $(window).scrollTop(380);
     $('html, body').animate({scrollTop:380}, 'slow');
    
});
</script>